.Intro{
  height: 945px;
  
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  color: black;
  text-align: center;
  font-size: clamp(20px, 1.5vw, 50px);
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

#text{
  padding-left: 150px;
  padding-right: 100px;
  text-align: center;
}

.button{
  color: black;
  text-align: center;
  font-size: clamp(20px, 2vw, 50px);
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

* {background-color: rgb(216, 243, 220)}

